* {
    box-sizing: border-box;
    font-family: "Bodoni-MT";
    padding: 0;
    margin: 0;
}


.navbar {
    background-color: white;
    border: 1px solid #EAEBEB;
    height: 10vh;
    font-size: 22px;
}

#navbar img {
    display: block;
    justify-content: space-around;
    padding-top: 10px;
    margin: auto;
    width: 56px;
}

.separator {
    width: 5vw;
    height: 8vh;
    border-right: 1px solid #EAEBEB;
}

#navbar .nav-item {
    padding-left: 30px;
    font-weight: bold;
}

#navbar .nav-item a {
    color: black;
}

.nav-item .navbar a {
    font-style: italic;
}

#end-section {
    width: 110px;
    height: 8vh;
    border-left: 1px solid #EAEBEB;
}

#end-section #notifbell {
    display: inline-block;
    width: 20px;
}

#end-section #icircle {
    margin-left: 10px;
    display: inline-block;
    width: 40px;
}

footer {
    background-color: #EFEFEF;
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 10px;
}

footer img {
    width: 226.78px;
}

footer li {
    color: #0D5FBD;
    font-size: 24px;
}

footer h1 {
    color: #0D5FBD;
}

#mtext {
    list-style: circle;
    color: #9E9E9B;
    font-size: 24px;
}

#second-half {
    margin-left: 47px;
}