* {
  box-sizing: border-box;
}

body {
  /*padding: 40px;*/
  margin: 0;
  font-family: "Bodoni MT";
}

.contenedor {
  margin: 40px;
  min-height: calc(100vh - 80px);
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #E7E7E7;
  padding: 50px;
  position: relative;
}
.contenedor h1 {
  font-size: 26px;
  font-weight: bold;
}

.Registration-company {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.1647058824);
  border: 1px solid #E7E7E7;
  padding: 40px;
  margin: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

::placeholder {
  color: #0D5FBD;
  font-size: 16px;
  text-align: center;
}

input {
  padding-left: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  /*background-color: #F6F9FF;*/
  height: 44px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

#Company-Sector{
  width: 284%;
}

.Registration-company h1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.Registration-company #Company-Sector {
  grid-column-start: 1;
  grid-column-end: 4;
}

.Registration-contact {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.1647058824);
  border: 1px solid #E7E7E7;
  padding: 40px;
  margin: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Registration-contact h1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Registration-preference {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.1647058824);
  border: 1px solid #E7E7E7;
  padding: 40px;
  margin: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Registration-preference h1 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 30px;
}


input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
}

input[type=checkbox]:checked {
  background-color: #0D5FBD;
  border: 1px solid #0D5FBD;
}

label[for=check-button] {
  font-size: 17px;
  color: #0D5FBD;
}


.Registration-howDYH {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.1647058824);
  border: 1px solid #E7E7E7;
  padding: 40px;
  margin: 20px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Registration-howDYH h1 {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 30px;
}

#C-Other-Input{
  height: 100px;
}

#R-Social-Media-Input{
  height: 100px;
}

#R-Other-Input{
  height: 100px;
}

button.New-Client {
  border: none;
  background: #0D5FBD;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 60px;
}

button.Cancel {
  border: none;
  background: #0D5FBD;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 150px;
  margin: 30px;
}

button.Save {
  border: none;
  background: #0D5FBD;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 150px;
  margin: 30px;
}

/*# sourceMappingURL=styleR.css.map */
