*{
    box-sizing: border-box;
}

body{

    padding: 40px;
    margin: 0;   
    font-family: 'Bodoni MT';
    
}

.contenedor{
    min-height: calc(100vh - 40px * 2);
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #E7E7E7;
    padding: 50px;
    position: relative;

    h1{
        font-size: 26px;
        font-weight: bold;
    }
}

.Registration-company{
   
    //visual
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #3030302a;
    border: 1px solid #E7E7E7;
    padding: 40px;
    margin: 20px;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    h1{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .Company-Name{

        grid-column-start: 1;
        grid-column-end: 1;
        border: none;
    }

    .Company-Address{

        grid-column-start: 2;
        grid-column-end: 2;

    }

    .Company-Phone{

        grid-column-start: 3;
        grid-column-end: 3;

    }



}



.Registration-contact{

    //visual
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #3030302a;
    border: 1px solid #E7E7E7;
    padding: 40px;
    margin: 20px;
    margin-top: 50px;

}

.Registration-preference{

    //visual
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #3030302a;
    border: 1px solid #E7E7E7;
    padding: 40px;
    margin: 20px;
    margin-top: 50px;

}

.Registration-howDYH{

    //visual
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #3030302a;
    border: 1px solid #E7E7E7;
    padding: 40px;
    margin: 20px;
    margin-top: 50px;

}


//Botones
button.New-Client{

    border: none;
    background: #0D5FBD;
    color: white;
    //padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    height: 50px;
    width: 150px;

    position: absolute;
    top: 0;
    right: 0;
    margin: 60px;
    
    //margin-right: 180px; //cambiar tamaño del boton
    //margin-left: 180px;
  }

  button.Cancel{
    border: none;
    background: #0D5FBD;
    color: white;
    //padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 60px;
    //margin-right: 180px; //cambiar tamaño del boton
    //margin-left: 180px;
  }

  button.Save{
    border: none;
    background: #0D5FBD;
    color: white;
    //padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 180px;
    margin: 60px;
    //margin-right: 180px; //cambiar tamaño del boton
    //margin-left: 180px;
  }